body{
    font-family: sans-serif;
    overflow: hidden;
    background:url("./assets/img/bg.jpg");
}

.scene,
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-center {
  text-align: center !important;
  font-size: 32px;
}

.footer{
    vertical-align: bottom;
}

.text-w{
color: white;
}
.text-b{
color: black;
}

.container{
    height: 70%;
    width: 100%;
}