body{
    font-family: sans-serif;
    overflow: hidden;
    background:azure;
}
#gradient {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , black);
}

.scene,
canvas{
    position: absolute;
    width: 50%;
    height: 50%;
}

.text-center {
  text-align: center !important;
  font-size: 32px;
  padding: 20px;
}

.footer{
    vertical-align: bottom;
}

.text-w{
color: white;
}
.text-b{
color: black;
}

.container{
    height: 70%;
    width: 100%;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
  
}

.scenev2,
canvas{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: white;
}