
nav #logo img{
    width: 50px;
}

 .fiftyfifty{
    width: 50%;
    align-content:center;
}

.fs16{
  font-size: 16pt;
}
@font-face {
  font-family: 'Lobster';
  font-display: swap;
  src: url(/assets/Fonts/Lobster-Regular.ttf) ;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url(/assets/Fonts/Montserrat-Regular.ttf) ;
}
body{
  font-family: 'Montserrat';
}

.fsBig{
  font-size: 40px;
  font-family: 'Lobster';
}

.text-right{
  text-align: end;
}

.Instagram:hover{
 color:crimson;
}

.Linkedin:hover{
 color: #fff;
}

@keyframes transitionIn{
  from{
    opacity: 0;
    transform: rotateX(-15deg);
   /* transform: rotateY(-10px); */ 
  }
  to{
    opacity: 3;
    transform: rotateX(0);
    
   /* transform: rotateY(0); */ 

  }
}


body {
  background-image:  url("../assets/img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  animation: transitionIn 0.75s;
}

p {
  line-height: 1.75;
}

.footer {
  background-color: #f8f9fa9f;
}

.members h1,
.members h2,
.members h3,
.members h4,
.members h5,
.members h6 {
    color: #3e4555;
}

.members .font-weight-medium {
    font-weight: 500;
}

.members .bg-light {
    background-color: #f4f8fa !important;
}

.members .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.members .pro-pic {
    min-height: 200px;
}

.members .pro-pic .card-img-overlay ul {
    top: 50%;
}

.members .pro-pic .card-img-overlay ul li a {
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.members .pro-pic .card-img-overlay ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
}

.members .pro-pic:hover .card-img-overlay {
    display: block;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoInstagram:hover {
    background-color: #c94534;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}


.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0px;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: rgb(27, 124, 214);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}