<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">{{site.title}}</span>
    </h1>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="home.html">{{ site.shortTitle }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="home.html">{{ site.menu.home
                            }}</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="events.html">{{
                            site.menu.events }}</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about-us.html">{{
                            site.menu.about-us }}</a>
                    </li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="contact-us.html">{{
                            site.menu.contact-us }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>